@model IEnumerable<Room_Reservation.Models.Reservation>

@{
    ViewBag.Title = "History";
}

<h2>History for Room @int.Parse(this.ViewContext.RouteData.Values["Id"].ToString())</h2>

<table class="table">
    <tr>
        <th>
            Reserved by
        </th>
        <th>
            Reservation start time
        </th>
        <th>
            Reservation end time
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserAccount.FirstName)  @Html.DisplayFor(modelItem => item.UserAccount.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReservedFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReservedTo)
        </td>
    </tr>
}

</table>
